@import "../../styles/mixins";
@import "../../styles/vars";

.root {
    width: 100%;
    min-height: 100%;

    @include flex-center;

    overflow-x: hidden;

    background: $color-bg;

    .spacer {
        width: 100%;
        height: 75px;
    }

    .appCont {
        width: 100vw;
        min-height: calc(100vh - 75px);

        overflow-x: hidden;
        margin-bottom: 10px;

        border: 5px solid black;
    }
}
